* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Playfair Display";
    src:
        local("Playfair Display Medium"),
        url("../fonts/PlayfairDisplay-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Playfair Display";
    src:
        local("Playfair Display Regular"),
        url("../fonts/PlayfairDisplay-Regular.ttf");
    font-weight: 400;
}

html {
    font-size: 16px;
    /*должен быть по умолчанию, но пусть будет на всякий*/
    line-height: normal;
    /* приблизительно 1.2  */
    font-family: 'Roboto', sans-serif;
    /*По умолчанию поставил Roboto по макету не понятно*/
}

.navigation {
    height: 135px;
    position: relative;
    margin-left: 23px;
    margin-right: 20px;
}
/*ну вот такой вот метод, дучше flex, но мы его не проходили*/
.nav-list {
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
    text-align: right;
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
/* тут сделал так, т.к. в навигации только один список со ссылками и 
не вижу смысла плодить еще к каждому тегу <LI> еще по одному классу, а основные св-ва наследуются*/
.nav-list li {
    display: inline-block;
    padding-left: 55px;
}

.nav-link {
    color: #000;
    text-decoration: none;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
}

.nav-link:hover {
    text-decoration: underline;
}

.hero-section {
    background: url("/img/hero-bg-layer.jpg");
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    height: 630px;
    position: relative;
    margin-bottom: 150px;
}
/*лучше flex, но мы его не проходили*/
.hero-innerblock {
    background-color: white;
    width: 48%; /* всего 1440, ширина блока 690 итого имеем около 48%*/
    min-width: 690px; /* ограничим снизу, чтоб не было уже*/
    height: 360px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
/* т.к. высота блока задна, можно padding задать и отцетрировать по высоте*/
.hero-message {
    padding-top: 110px;
}

.hero-title {
    color: #000;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 5.375rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    /*а здесь сделаем так*/
    margin-bottom: 14px;
}

.hero-par {
    color: #000;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.biography-section {
    display: flex;
    justify-content: center;
    margin-bottom: 150px;
}

.biography-left {
    display:flex;
    justify-content: right;
    flex-grow:4;

}

.biography-img {
    width: 100%;
    max-width: 571px;
    object-fit: cover;
}

.biography-center {
    display: flex;
    flex-grow:1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
}

.biography-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 35px;
    flex-grow: 3;
}


.biography-title {
    color: #000;
    text-align: right;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transform-origin: center;
    transform:rotate(-90deg) translateX(-40px) translateY(-43%);
}

.biography-name {
    color: #000;
    font-family: 'Playfair Display', serif;
    font-size: 5.375rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.biography-par {
    color: #0D0D0D;
    font-family: 'Roboto', sans-serif;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.biography-dash {
    border: 0;
    width: 1.25rem;
    height: 0.375rem;
    background: #0D0D0D;
    margin-bottom: 18px;
}

.biography-quote {
    color: #0D0D0D;
    font-family: 'Bitter', serif;
    font-size: 1.625rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 375px;
}

.designers-section {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 150px;
}

.designers-title {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 8.5%;
    margin-bottom: 30px;
}

.designers-carousel-div {
    display: flex;
    justify-content: flex-start;
    align-items: end;
    gap: 20px;
    overflow: auto;
}

.designers-high-div {
    padding-left: 42%;
}

.designers-img {
    margin-bottom: 23px;
}

.designers-name {
    text-transform: uppercase;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.designers-par {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.testimon-section {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 16% 34% 10% 40%;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 150px;
}

.testimon-links-col {
    box-sizing: border-box;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    padding-left: 71%;
}

.testimon-title-col {
    padding-left: 14%;
    box-sizing: border-box;
}

.testimon-title {
    color: #000;
    text-align: right;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transform-origin: center;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}

.testimon-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 25%;
    padding-bottom: 14%;
    padding-right: 20%;
    text-align: left;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

.testimon-link {
    transform-origin: center;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}

.testimon-img {
    box-sizing: border-box;
    padding-left: 4.4%;
    object-fit: cover;
    width: 100%;
}

/* тут тоже не вижу смысла плодить лишние названия классов, будет ИМХО загромождать код */
.testimon-link a {
    color: #000;
    text-transform: none;
    text-decoration: none;
}

.testimon-link a:hover {
    text-decoration: none;
}

.testimon-text-col {
    padding-right: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 42px;
}

.testimon-right-img {
    width: 48%;
}

.testimon-text {
    width: 48%;
    color: #000;
    text-align: center;
    font-family: 'Bitter', serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sp-title {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.sp-strengths {
    color: #000;
    font-family: 'Playfair Display', serif;
    font-size: 5.375rem;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
}

.sp-list {
    color: #000;
    font-family: 'Bitter', serif;
    font-size: 2.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    list-style-type: none;
}
