* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Playfair Display";
    src:
        local("Playfair Display Medium"),
        url("../fonts/PlayfairDisplay-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Playfair Display";
    src:
        local("Playfair Display Regular"),
        url("../fonts/PlayfairDisplay-Regular.ttf");
    font-weight: 400;
}

html {
    font-size: 16px;
    /*должен быть по умолчанию, но пусть будет на всякий*/
    line-height: normal;
    /* приблизительно 1.2  */
    font-family: 'Roboto', sans-serif;
    /*По умолчанию поставил Roboto по макету не понятно*/
}

.navigation {
    height: 135px;
    position: relative;
    margin-left: 23px;
    margin-right: 20px;
}
/*ну вот такой вот метод, дучше flex, но мы его не проходили*/
.nav-list {
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
    text-align: right;
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
/* тут сделал так, т.к. в навигации только один список со ссылками и 
не вижу смысла плодить еще к каждому линку еще по одному классу, а основные св-ва наследуются*/
.nav-list li {
    display: inline-block;
    padding-left: 55px;
}

.nav-link {
    color: #000;
    text-decoration: none;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
}

.nav-link:hover {
    text-decoration: underline;
}

.hero-section {
    background: url("/img/hero-bg-layer.jpg");
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    height: 630px;
    position: relative;
}
/*лучше flex, но мы его не проходили*/
.hero-innerblock {
    background-color: white;
    width: 48%; /* всего 1440, ширина блока 690 итого имеем около 48%*/
    min-width: 690px; /* ограничим снизу, чтоб не было уже*/
    height: 360px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
/* т.к. высота блока задна, можно padding задать и отцетрировать по высоте*/
.hero-message {
    padding-top: 110px;
}

.hero-title {
    color: #000;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 5.375rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    /*а здесь сделаем так*/
    margin-bottom: 14px;
}

.hero-par {
    color: #000;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.biography-title {
    color: #000;
    text-align: right;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.biography-name {
    color: #000;
    font-family: 'Playfair Display', serif;
    font-size: 5.375rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.biography-par {
    color: #0D0D0D;
    font-family: 'Roboto', sans-serif;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.biography-dash {
    border: 0;
    width: 1.25rem;
    height: 0.375rem;
    background: #0D0D0D;
}

.biography-quote {
    color: #0D0D0D;
    font-family: 'Bitter', serif;
    font-size: 1.625rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.designers-title {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.designers-name {
    text-transform: uppercase;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.designers-par {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.testimon-title {
    color: #000;
    text-align: right;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.testimon-link {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}
/* тут тоже не вижу смысла плодить лишние названия классов, будет ИМХО загромождать код */
.testimon-link a {
    color: #000;
    text-transform: none;
    text-decoration: none;
}

.testimon-link a:hover {
    text-decoration: none;
}

.testimon-text {
    color: #000;
    text-align: center;
    font-family: 'Bitter', serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.sp-title {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.sp-strengths {
    color: #000;
    font-family: 'Playfair Display', serif;
    font-size: 5.375rem;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
}

.sp-list {
    color: #000;
    font-family: 'Bitter', serif;
    font-size: 2.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    list-style-type: none;
}
